tqdm
numpy
matplotlib
pandas
scikit_learn
pytest
torchvision
torchinfo
torchmetrics
einops
black>=22.6
coverage>=6
darglint>=1.8
isort>=5.10
pre-commit>=2.20
pytest-cov>=3
transformers
seaborn
SciencePlots
scikit-image
codecov
jupyter
loguru
memory-profiler
