tqdm==4.62.1
numpy==1.21.0
matplotlib
pandas
pyfiglet
scikit_learn
swifter==1.0.9
wandb
wget==3.2
pytest
umap-learn
plotly
mapply
torch
torchvision
torchinfo
pytorch_lightning
git+https://github.com/qubvel/segmentation_models.pytorch
torchmetrics==0.10.2
pickle5
einops
imblearn
transformers
jupyter
scienceplots
faiss-cpu
faiss-gpu
